In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('data/test.csv')
submission=pd.read_csv('data/sample_submission.csv')

In [3]:
merged_df = pd.merge(train, submission, on='PassengerId', how='inner')

In [4]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4277 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
 13  Transported   4277 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 472.0+ KB

In [5]:
merged_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4186.000000,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000
mean,28.658146,219.266269,439.484296,177.295525,303.052443,310.710031
std,14.179072,607.011289,1527.663045,560.821123,1117.186015,1246.994742
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,53.000000,78.000000,33.000000,50.000000,36.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

In [6]:
merged_df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
Transported       0
dtype: int64

In [7]:
float_features = merged_df.select_dtypes(include=['float']).columns

In [8]:
float_features

Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')

In [9]:
merged_df[float_features] = merged_df[float_features].fillna(merged_df[float_features].mean())

In [10]:
object_features = pd.DataFrame(columns=merged_df.select_dtypes(include=['object']).columns)

In [11]:
object_features.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP',
       'Name'],
      dtype='object')

In [12]:
object_features = object_features.drop('PassengerId', axis=1)

In [13]:
for col in object_features.columns:
    unique_values = merged_df[col].unique()
    print(f"Unique values in '{col}' feature: {unique_values}")

Unique values in 'HomePlanet' feature: ['Earth' 'Europa' 'Mars' nan]
Unique values in 'CryoSleep' feature: [True False nan]
Unique values in 'Cabin' feature: ['G/3/S' 'F/4/S' 'C/0/S' ... 'D/296/P' 'D/297/P' 'G/1498/S']
Unique values in 'Destination' feature: ['TRAPPIST-1e' '55 Cancri e' 'PSO J318.5-22' nan]
Unique values in 'VIP' feature: [False nan True]
Unique values in 'Name' feature: ['Nelly Carsoning' 'Lerome Peckers' 'Sabih Unhearfus' ... 'Jayrin Pore'
 'Kitakan Conale' 'Lilace Leonzaley']

In [14]:
merged_df["HomePlanet"].value_counts() #na value is 201

Earth     2263
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [15]:
merged_df = merged_df.dropna()

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3747 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   3747 non-null   object
 1   HomePlanet    3747 non-null   object
 2   CryoSleep     3747 non-null   object
 3   Cabin         3747 non-null   object
 4   Destination   3747 non-null   object
 5   Age           3747 non-null   float64
 6   VIP           3747 non-null   object
 7   RoomService   3747 non-null   float64
 8   FoodCourt     3747 non-null   float64
 9   ShoppingMall  3747 non-null   float64
 10  Spa           3747 non-null   float64
 11  VRDeck        3747 non-null   float64
 12  Name          3747 non-null   object
 13  Transported   3747 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 413.5+ KB

In [17]:
df = merged_df.copy()

In [18]:
df['Group']=df['PassengerId'].str.split('_').str[0]
df['Group']=df['Group'].astype(float)

In [19]:
df['Lastname'] = df.Name.str.split(' ').str[1]

In [20]:
df[['Deck', 'Cab_num', 'Deck_side']] = df.Cabin.str.split('/', expand=True)
df.Cab_num = df.Cab_num.astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3747 entries, 0 to 4276
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   3747 non-null   object
 1   HomePlanet    3747 non-null   object
 2   CryoSleep     3747 non-null   object
 3   Cabin         3747 non-null   object
 4   Destination   3747 non-null   object
 5   Age           3747 non-null   float64
 6   VIP           3747 non-null   object
 7   RoomService   3747 non-null   float64
 8   FoodCourt     3747 non-null   float64
 9   ShoppingMall  3747 non-null   float64
 10  Spa           3747 non-null   float64
 11  VRDeck        3747 non-null   float64
 12  Name          3747 non-null   object
 13  Transported   3747 non-null   bool
 14  Group         3747 non-null   float64
 15  Lastname      3747 non-null   object
 16  Deck          3747 non-null   object
 17  Cab_num       3747 non-null   float64
 18  Deck_side     3747 non-null   object
dtypes: bool(1), float64(8), object(10)
memory usage: 559.9+ KB

In [22]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Lastname,Deck,Cab_num,Deck_side
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,False,13.0,Carsoning,G,3.0,S
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,False,18.0,Peckers,F,4.0,S
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,False,19.0,Unhearfus,C,0.0,S
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,False,21.0,Caltilter,C,1.0,S
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,False,23.0,Harperez,F,5.0,S

In [23]:
df.to_csv('data/test_full.csv', index=False)